

body, h1, h2, h3, p {
    margin: 0;
}

.container {
    color: white;
    text-align: center;
    background-color: gray;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 1fr 1fr;
    grid-template-rows: 15vh auto 5vh;
    grid-template-areas:
        "header header header header header"
        "aside  main   main   main   aside2"
        "footer footer footer footer footer";
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

    .container header {
        background: white;
        grid-area: header;
        overflow: hidden;
        grid-area: header;
        line-height: 7vh;
        display: flex;
        text-align: left;
        font-family: 'Seymour One', sans-serif;
        vertical-align: middle;
    }

        .container header h1 {
            font-weight: normal !important;
        }

        .container header #leftHeader {
            width: 15%;
            background-color: rosybrown;
            margin-right: 3px;
        }

        .container header #rightHeader {
            background-color: saddlebrown;
            width: 85%;
            margin-left: 3px;
            padding-left: 7px;
        }

    .container nav {
        background: saddlebrown;
        overflow: hidden;
        grid-area: nav;
        line-height: 3.5vh;
        font-family: Arial, Helvetica, sans-serif;
        display: flexbox;
    }

        .container nav a {
            color: gray;
            cursor: pointer;
            text-decoration: none;
            padding-left: 4px;
            padding-right: 4px;
            font-size: small;
        }


    .container aside {
        background: white;
        overflow: hidden;
        grid-area: aside;
    }


        .container aside#aside-2 {
            background: saddlebrown;
            overflow: hidden;
            grid-area: aside2;
            text-align: left;
            padding: 10px;
            text-align: center;
            min-height: 600px;
        }

        .container aside#aside-2 a {
            color: white !important;
            cursor:pointer;
        }

    .container main #ContenedorImagenAside2 {
        max-width: 500px;
    }

    .container main {
        background: white;
        text-align: left;
        overflow: hidden;
        grid-area: main;
        padding: 10px;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 15px;
        color:black;
    }

        .container main li {
            color: white;
            line-height: 25px;
        }

            .container main li span {
                color: khaki;
            }

    .container footer {
        background: saddlebrown;
        color: #333;
        overflow: hidden;
        grid-area: footer;
        line-height: 5vh;
        color: white;
    }
img {
    width: 300px;
}
