@{
    ViewData["Title"] = "Home Recetas";
}

@*@section SideBar{
    <h2>@ViewBag.Titulo</h2>
}*@

<div>
    <p>El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, 
        por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).</p>
    <p>El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.
        Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.</p>
    <h2>Desayuno en Argentina</h2>
        <p>n Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce.
            También es común desayunar con unos mates (amargos o dulces) acompañados por galletitas de grasa o bizcochos (salados, de hojaldre).
        </p>
</div>  

@Html.ActionLink("Ir a Recetas","Index","Receta")